@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0;}
a { outline: none;}
a:hover { text-decoration: none;}
img { border: none;}
ul, ol { list-style: none;}
body { font: 12px/20px Arial, Helvetica, sans-serif; width: 600px;}
ul { padding: 10px; }
ul li { overflow: hidden; height: 100%!ie; padding: 8px 0; border-bottom: 1px dashed #CCC;}
ul li .left { display: block; float: left; width: 250px; font-weight: bold;}
ul li .right { display: block; float: left; width: 330px;}