.header .menu ul li.about {
	padding: 22px 0 0;
	height: 110px;
}
.header .menu ul li.index {
	padding: 35px 0 0;
	height: 98px;
}
.header .menu ul li.rules {
	padding: 20px 0 0;
	height: 88px;
}
