html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between images and the bottom of their containers: h5bp.com/i/440
*/

img {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
Chrome Frame prompt
========================================================================== */

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

/* ==========================================================================
Helper classes
========================================================================== */

/*
* Image replacement
*/

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: '';
  display: block;
  width: 0;
  height: 150%;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: ' '; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' (' attr(href) ')';
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  /*
  * Don't show links for images, or javascript/internal links
  */

  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: .5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.before:before,
.before:after {
  display: block;
  position: absolute;
  content: '';
  background: url(../img/sprite.gif) no-repeat;
}

.button {
  display: inline-block;
  text-decoration: none;
  background: #f1c40f;
  background:    -moz-linear-gradient(top,  #f1c40f 0%, #ebae08 50%, #ebae08 51%, #f1c40f 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1c40f), color-stop(50%,#ebae08), color-stop(51%,#ebae08), color-stop(99%,#f1c40f));
  background: -webkit-linear-gradient(top,  #f1c40f 0%,#ebae08 50%,#ebae08 51%,#f1c40f 99%);
  background:      -o-linear-gradient(top,  #f1c40f 0%,#ebae08 50%,#ebae08 51%,#f1c40f 99%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f1c40f), color-stop(50%, #ebae08), color-stop(51%, #ebae08), color-stop(99%, #f1c40f));
  background: -webkit-linear-gradient(top, #f1c40f 0%, #ebae08 50%, #ebae08 51%, #f1c40f 99%);
  background:      -o-linear-gradient(top, #f1c40f 0%, #ebae08 50%, #ebae08 51%, #f1c40f 99%);
  background:         linear-gradient(to bottom,  #f1c40f 0%,#ebae08 50%,#ebae08 51%,#f1c40f 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1c40f', endColorstr='#f1c40f',GradientType=0 );
  -webkit-background-size: auto 200%;
     -moz-background-size: auto 200%;
       -o-background-size: auto 200%;
          background-size: auto 200%;
  background-position: 0 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,253,96,.75);
     -moz-box-shadow: inset 0 1px 0 rgba(255,253,96,.75);
          box-shadow: inset 0 1px 0 rgba(255,253,96,.75);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 9px 12px 10px;
  font: bold .813em/1.3em Arial;
  color: #473608;
  text-shadow: 0 1px 0 #fbd84c;
  -webkit-transition: all .7s ease 0s;
     -moz-transition: all .7s ease 0s;
       -o-transition: all .7s ease 0s;
          transition: all .7s ease 0s;
}

.button:hover {
  background-position: 0 -100%;
}

.header {
  background: url(../img/bg-header.jpg) repeat center;
  position: relative;
  min-height: 417px;
  overflow: hidden;
  margin: 0 0 43px;
}

.header .block {
  margin: 0 auto;
  width: 960px;
  position: relative;
}

.header .block:after {
  background: url(../img/bg-header-shadow.png) no-repeat 431px 0;
  width: 1468px;
  height: 530px;
  top: 0;
  left: 0;
  z-index: 1;
}

.header .top {
  padding: 31px 0 0;
  margin: 0 0 47px;
  position: relative;
  z-index: 10;
}

.header .logo {
  float: left;
  margin: 10px 0 0;
}

.header .phone,
.header .block-button {
  float: right;
  margin: 15px 0 0;
}

.header .block-button {
  margin-right: 246px;
}

.header .phone {
  margin: 15px 5px 0 0;
}

.header .phone p {
  font: bold 1.625em/1.4em Arial;
  color: #fff;
}

.header .phone span {
  color: #f1c40f;
}

.header .block-button a {
  margin: 0 0 0 17px;
}

.header .info-block {
  float: left;
  width: 574px;
  position: relative;
  z-index: 10;
}

.header .info-block p {
  font: 1em/1.375em Arial;
  color: #fff;
  margin: 0 0 25px;
}

.header .info-block p em {
  font-size: .813em;
  color: #7b90a5;
}

.header .info-block p strong {
  color: #f1c40f;
}

.header .caruosel {
  float: left;
  position: relative;
  z-index: 10;
  padding: 114px 0 0 68px;
}

.header .caruosel .item {
  float: left;
  width: 250px;
  height: 191px;
}

.content {
  margin: 0 auto;
  width: 960px;
  position: relative;
}

.content form {
  -webkit-transition: all 1.5s ease 0s;
     -moz-transition: all 1.5s ease 0s;
       -o-transition: all 1.5s ease 0s;
          transition: all 1.5s ease 0s;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0 5px;
  margin: 0 0 20px;
}

.content form.open-form {
  max-height: 2000px;
  opacity: 1;
  visibility: visible;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .7s ease 0s;
     -moz-transition: all .7s ease 0s;
       -o-transition: all .7s ease 0s;
          transition: all .7s ease 0s;
}

.popup.show-popup {
  opacity: 1;
  visibility: visible;
}

.popup .table {
  display: table;
  width: 100%;
  height: 100%;
}

.popup .table .tr {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.popup .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  z-index: -1;
}

.popup .block {
  display: inline-block;
  text-align: left;
  background: #fff;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  position: relative;
  z-index: 1;
  padding: 28px 28px 14px;
  min-width: 379px;
}

.popup .block .close {
  display: block;
  position: absolute;
  background: url(../img/sprite.gif) no-repeat -24px 0;
  width: 26px;
  height: 26px;
  top: 28px;
  right: 28px;
  -webkit-transition: all .3s ease 0s;
     -moz-transition: all .3s ease 0s;
       -o-transition: all .3s ease 0s;
          transition: all .3s ease 0s;
}

.popup .block h2 {
  margin: 0 0 16px;
}

.popup .block ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popup .block ul li {
  margin: 0 0 15px;
}

.popup .block ul label {
  display: block;
  font: 1em/1.375em Arial;
  color: #2c3e50;
  margin: 0 0 6px;
}

.popup .block ul em {
  font: italic .813em/1.692em Arial;
  color: #7f8c8d;
}

.popup .block ul p {
  font: .813em/1.462em Arial;
  color: #7f8c8d;
  margin: 14px 0 0;
}

.popup .block ul input[type=text],
.popup .block ul input[type=tel],
.popup .block ul input[type=email],
.popup .block ul textarea {
  border: 2px solid #7f8c8d;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  width: 252px;
  padding: 0 10px;
  height: 36px;
  font: 1em/1.375em Arial;
  color: #2c3e50;
  margin: 0 0 3px;
  -webkit-transition: all .5s ease 0s;
     -moz-transition: all .5s ease 0s;
       -o-transition: all .5s ease 0s;
          transition: all .5s ease 0s;
}

.popup .block ul input[type=text]:focus,
.popup .block ul input[type=tel]:focus,
.popup .block ul input[type=email]:focus,
.popup .block ul textarea:focus {
  -webkit-box-shadow: 0 0 5px #7f8c8d;
     -moz-box-shadow: 0 0 5px #7f8c8d;
          box-shadow: 0 0 5px #7f8c8d;
  border-color: #fff;
}

.popup .block ul input[type=tel] {
  width: 140px;
}

.popup .block ul input[type=submit] {
  border: none;
  font-size: .938em;
}

.popup .block ul textarea {
  height: 88px;
  min-height: 88px;
  padding: 10px;
}

.block-price ul li {
  margin: 0 0 25px;
}

.block-price ul li p {
  margin: 0 0 10px;
}

.block-price ul li label {
  font-weight: normal;
}

.footer {
  height: 525px;
  position: relative;
}

.block-adress {
  width: 960px;
  margin: 0 auto;
  padding: 27px 0 0;
  position: relative;
}

.block-adress h2 {
  margin: 0 0 18px;
}

.block-adress .info {
  float: left;
}

.block-adress .info p {
  font: 1.062em/1.353em Arial;
  color: #2c3e50;
  margin: 0 0 27px;
  position: relative;
}

.block-adress .info .before:before {
  background: url(../img/arrow-bg.gif) no-repeat;
  width: 70px;
  height: 20px;
  top: -31px;
  right: -64px;
}

.block-adress .info p:nth-child(3) {
  margin: 0 0 12px;
}

.block-adress .info strong {
  font-size: 2.235em;
}

.block-adress .info strong span {
  color: #e74c3c;
}

.block-adress .maps {
  float: right;
  border: 1px solid #bdc3c7;
}

.block-info {
  position: absolute;
  background: rgba(255,255,255,.9);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  right: 0;
  top: 150px;
  z-index: 90;
  padding: 20px 20px 10px;
  width: 300px;
}

.block-info p {
  font: 16px/21px Arial;
  color: #2c3e50;
}

.block-about {
  background: url(../img/bg-about.jpg) no-repeat top left;
  height: 219px;
  margin: 0 0 50px;
}

.block-about__item {
  float: left;
  text-align: center;
  width: 190px;
  padding: 120px 0 0;
  position: relative;
}

.block-about__item:last-child {
  float: right;
  width: 135px;
}

.block-about__item p {
  font: 1.063em/1.2em Arial;
  color: #2c3e50;
}

.block-about__item:before {
  left: 50%;
  top: 50%;
}

.block-about__item:nth-child(1):before {
  background-position: -50px 0;
  width: 64px;
  height: 52px;
  margin: -36px 0 0 -32px;
}

.block-about__item:nth-child(2):before {
  background-position: -114px 0;
  width: 52px;
  height: 64px;
  margin: -42px 0 0 -26px;
}

.block-about__item:nth-child(3):before {
  background-position: -166px 0;
  width: 60px;
  height: 60px;
  margin: -50px 0 0 -30px;
}

.block-about__item:nth-child(4):before {
  background-position: -226px 0;
  width: 52px;
  height: 58px;
  margin: -39px 0 0 -26px;
}

.block-about__item:nth-child(5):before {
  background-position: -278px 0;
  width: 44px;
  height: 68px;
  margin: -50px 0 0 -22px;
}

.autofix_sb.fixed {
  position: fixed !important;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  height: 100%;
  overflow: auto;
  margin-top: 35px;
}
.autofix_sb.fixed.bottom {
  bottom: 0;
  position: absolute !important;
}

.block-date__item {
  float: left;
  width: 480px;
  margin: 0 0 40px;
}

.block-date__item h4 {
  color: #2C3E50;
}

.block-date__item img {
  float: left;
  margin: 0 15px 7px 0;
}

.block-date__item p {
  font-size: 14px;
  line-height: 19px;
  margin: 0 0 5px;
}

.block-work {
  margin: 0 0 50px;
}

.block-work ul {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

.block-work li {
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 7px;
}
