/* g e n e r a l */

* {padding:0; margin:0;}
html, body {height:100%; background:url(../img/bg-body.gif) #fff;}
html, body, input, select, textarea, a, td {font:11px/18px Verdana, Arial, Helvetica, sans-serif; color:#666;}

a {color:#666;}
a:hover {text-decoration:none; color:#333;}

#wrapper {min-height:100%; height:auto !important; height:100%; width:800px; margin:0 auto -74px; background:#fff; padding:0 20px;}

#empty {height:74px; clear:both;}

#footer {height:60px; clear:both; position:relative; width:800px; padding:14px 20px 0; margin:0 auto;}
#footer div {color:#8a8a8a; border-top:1px solid #e1dfd9; float:left; padding-top:17px;}
#footer div div {border:0; padding:0; float:right;}
#footer .l {width:570px; margin-right:6px;}
#footer .l div {padding:0 30px 0 65px; background:url(../img/ico-remezov.gif) 0 0 no-repeat;}
#footer .r {width:220px;}
#footer .r div {width:105px;}
#footer .r div a {background:url(../img/ico-creative.gif) 0 0 no-repeat; display:block; text-decoration:none; width:18px; height:18px; float:right; text-indent:-9999px;}

#header {padding-top:20px;}
#header .logo {display:block; position:absolute; width:222px; height:94px; background:url(../img/bg-logo.gif) 0 0 no-repeat; text-decoration:none; margin-left:5px;}
#header .phone {display:block; position:absolute; font-size:14px; color:#8a8a8a; line-height:24px; margin:35px 0 0 630px;}
#header .phone p {font-size:18px;}
#header .phone p span {color:#000;}
#header .button {float:right; text-align:right; width:170px; color:#532308;}
#header .button img {float:left; margin:5px 10px 0 0;}
#header .menu {height:26px; margin:110px 0 10px; padding:0 5px 0 15px; -webkit-border-radius:6px; -webkit-border-top-right-radius:0; -moz-border-radius:6px; -moz-border-radius-topright:0; border-radius:6px; border-top-right-radius:0; border:1px solid #e1dfd9;}
#header .menu a {line-height:25px; margin-right:8px; color:#8a8a8a; text-decoration:none;}
#header .menu a:hover {color:#333;}
#header .menu .reserve {float:right; display:block; color:#fff; background:#977b6d; padding:0 5px; line-height:22px; height:24px; margin:1px -4px 0 0; -webkit-border-radius:4px; -webkit-border-top-right-radius:0; -moz-border-radius:4px; -moz-border-radius-topright:0; border-radius:4px; border-top-right-radius:0;}
#header .menu strong {font-weight:normal; color:#000;}
#header .menu .reserve strong {color:#fff; padding:0 2px;}

/* e l e m e n t s */

h1, h2, h3 {font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; color:#000;}
h1 {font-size:36px; line-height:36px; padding-bottom:15px;}
h2 {font-size:18px; padding-bottom:15px;}
h3 {font-size:14px; line-height:18px; font-weight:bold; padding-bottom:5px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#666;}
h3 a {font-size:14px; line-height:18px; font-weight:bold;}

img {border:0;}

small {font-size:11px; color:#848484;}
small a {font-size:11px;}

blockquote {background:url(../img/blockquote.gif) 0 12px no-repeat; font:24px/32px Georgia; font-style:italic; padding:5px 0 10px 50px;}
blockquote a {font:24px/32px Georgia, "Times New Roman", Times, serif; font-style:italic;}

.reserved {display:block; color:#fff; background:#977b6d; padding:0 5px; line-height:22px; height:24px; margin:10px 0 0; width:150px; text-align:center; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}

.main-roulette {height:305px;}
.main-roulette div {-webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; background:#c3bab1; position:absolute; overflow:hidden;}
.main-roulette div span {font-size:18px; line-height:24px; color:#fff; text-decoration:none; margin:10px 0 0 15px; display:block;}
.main-roulette div a:hover {color:#333;}
.main-roulette .first {width:150px; height:133px;}
.main-roulette .second {width:150px; height:137px; margin-top:143px;}
.main-roulette .third {width:405px; height:280px; margin-left:160px;}
.main-roulette .fourth {width:224px; height:280px; margin-left:575px;}

/* p a g e s */

#main-text {float:left; width:550px; margin-right:6px; padding-right:20px;}

#main-news {overflow:hidden; zoom:1; width:220px;}
#main-news .item {padding-bottom:15px;}
#main-news .item a {font:12px/18px Georgia, "Times New Roman", Times, serif;}
#main-news .item p {padding-top:5px;}
#main-news .special {background:url(../img/bg-special.gif) 140px 15px no-repeat #977b6d; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; padding:10px 15px; margin-top:25px;}
#main-news .special a {font-size:16px; line-height:22px; color:#fff; text-decoration:none;}
#main-news .special a:hover {color:#333;}

.box {border-bottom:1px dashed #dbd6d0; margin-bottom:15px; padding-bottom:15px;}

.special {overflow:hidden; zoom:1;}
.special img {float:left; margin-right:20px; width:150px;}
.special h3 {padding-top:40px;}
.special h3, .special p {overflow:hidden; zoom:1;}

.apartments {}
.apartments li {line-height:16px; padding-bottom:15px;}
.apartments li a {line-height:16px;}
.apartments .active a {font-weight:bold; text-decoration:none;}

.reservation {}
.reservation .box {overflow:hidden; zoom:1;}
.reservation span {display:block; float:left; width:166px; font-weight:bold;}
.reservation div {overflow:hidden; zoom:1;}
.reservation i {display:block; padding-top:5px;}
.reservation img {float:left; margin:2px 3px 0 0;}
.reservation ul {list-style:none; height:47px;}
.reservation ul li {float:left; width:29px; height:29px; text-align:center; background:#c3bab1; margin-right:7px; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;}
.reservation ul li a {font-size:14px; text-decoration:none; color:#fff; line-height:28px;}
.reservation ul li.active {background:#977b6d;}
.reservation ul li p {position:absolute; line-height:11px; margin-top:35px;}

.dotted {text-decoration:none; border-bottom:1px dotted #666;}

input, select, textarea {border:1px solid #c3b9b1; background:#fff; padding-left:5px; line-height:18px;}

.i-text {width:360px; height:23px;}
.i-area {width:360px; height:70px;}
.i-select {width:210px; height:23px; vertical-align:middle;}
.i-subm {text-align:center; display:block; height:30px; padding:10px 20px 0; background:#977b6d; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;}
.i-subm a {font-size:14px; color:#fff;}

.gall {overflow:hidden; zoom:1; margin-top:30px;}
.gall a {display:block; float:left; width:100px; margin-right:15px; text-decoration:none;}
.gall a img {width:100%;}
.gall .inactive img {filter:alpha(opacity=60); -moz-opacity:.60; opacity:.60;}

#main-form {overflow:hidden; zoom:1; width:220px;}
#main-form .box {border:0; margin:0 0 10px; padding:0; overflow:hidden; zoom:1;}
#main-form .box span {display:block; float:left; width:100px; font-weight:bold;}
#main-form .reservation div {overflow:hidden; zoom:1;}
#main-form .reservation i {display:block; padding-top:5px;}
#main-form .reservation img {float:left; margin:2px 3px 0 0;}
#main-form .boxx {margin-bottom:10px;}
#main-form .boxx span {float:none; width:auto;}
#main-form .i-submm {text-align:center; height:24px; background:#977b6d; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; margin-top:10px;}
#main-form .i-submm a {font-size:11px; line-height:22px; font-weight:bold; text-decoration:none; color:#fff;}
#main-form .frm-bg {background:#ececec; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; padding:15px 15px 5px; margin-bottom:30px;}
#main-form .i-select {width:190px; height:23px; vertical-align:middle; margin-top:2px;}
#main-form .i-selectt {width:85px; height:23px; vertical-align:middle; margin-top:2px;}